<div>
  <button type="button" {{on "click" this.toggle}}>
    Toggle
  </button>

  {{#if this.isVisible}}
    <p>This is visible!</p>
  {{else}}
    <p>This is hidden!</p>
  {{/if}}

  {{#if this.isVisible}}
    <div>
      <h3>Conditional Content</h3>
      {{#if (gt this.count 5)}}
        <p>Count is greater than 5: {{this.count}}</p>
      {{else if (gt this.count 0)}}
        <p>Count is between 1 and 5: {{this.count}}</p>
      {{else}}
        <p>Count is 0 or negative</p>
      {{/if}}
    </div>
  {{/if}}
</div>